<form class="example-form" [formGroup]="editAssignEmpToClientForm">
  <h2 mat-dialog-title class="dialog-title">
    Edit Assign Employee To Client
    <button mat-icon-button mat-dialog-close class="close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography">
     <div class="form-grid">
    <mat-form-field>
      <mat-label>Employee Name</mat-label>
      <mat-select formControlName="emp_id">
        <mat-option *ngFor="let emp of assignEmp" [value]="emp._id">{{emp.name}}</mat-option>
        <mat-option *ngIf="assignEmp && assignEmp.length === 0" disabled>
          No record found
        </mat-option>
      </mat-select>
       <mat-error *ngIf="editAssignEmpToClientForm.get('emp_id')?.hasError('required')">
          Employee Id is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Client Name</mat-label>
      <mat-select formControlName="client_id">
        <mat-option *ngFor="let existClient of existingClient" [value]="existClient._id">{{existClient.name}}</mat-option>
        <mat-option *ngIf="existingClient && existingClient.length === 0" disabled>
          No record found
        </mat-option>
      </mat-select>
    
    </mat-form-field>
</div>
   <mat-form-field>
      <mat-label>Project Name</mat-label>
      <mat-select formControlName="proj_id">
        <mat-option *ngFor="let proj of project" [value]="proj._id">{{proj.project_name}}</mat-option>
        <mat-option *ngIf="project && project.length === 0" disabled>
          No record found
        </mat-option>
      </mat-select>
    </mat-form-field>

     <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" class="input" matInput placeholder="description..." value=""></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="status">Status</mat-checkbox>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="color-btn" matButton mat-dialog-close>Close</button>
    <button class="btn" matButton="filled" [disabled]="editAssignEmpToClientForm.disabled" cdkFocusInitial (click)="onSubmit()">
       @if(!editAssignEmpToClientForm.disabled) {
          <span>Update</span>
        }
      @if (editAssignEmpToClientForm.disabled) {
          <span>Update</span>
        }
    </button>
  </mat-dialog-actions>
</form>