<form class="example-form" [formGroup]="projectForm">
  <h2 mat-dialog-title class="dialog-title">
    Add Project
    <button mat-icon-button mat-dialog-close class="close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div class="form-grid">
      <mat-form-field>
        <mat-label>Project Code</mat-label>
        <input formControlName="project_code" class="input" matInput placeholder="name..." value="">
        <mat-error *ngIf="projectForm.get('project_code')?.hasError('required')">
          project code is required
        </mat-error>
      </mat-form-field>

       <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input formControlName="project_name" class="input" matInput placeholder="name..." value="">
        <mat-error *ngIf="projectForm.get('project_name')?.hasError('required')">
          project name is required
        </mat-error>
      </mat-form-field>

        <mat-form-field>
        <mat-label>Working Hours</mat-label>
        <input type="number" formControlName="working_hours" class="input" matInput placeholder="name..." value="">
        <mat-error *ngIf="projectForm.get('working_hours')?.hasError('required')">
          working hours is required
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <mat-label>Joc</mat-label>
        <input type="number" formControlName="joc" class="input" matInput placeholder="name..." value="">
        <mat-error *ngIf="projectForm.get('joc')?.hasError('required')">
          joc is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Designation</mat-label>
        <mat-select formControlName="designName">
          <mat-option *ngFor="let design of des" [value]="design.designName">{{design.designName}}</mat-option>
          <mat-option *ngIf="des.length === 0" disabled>
            No record found
          </mat-option>
        </mat-select>
         <mat-error *ngIf="projectForm.get('designName')?.hasError('required')">
          Designation is required
        </mat-error>
      </mat-form-field>

       <mat-form-field>
        <mat-label>Project manager Id</mat-label>
        <mat-select formControlName="project_manager_id">
          <mat-option>a</mat-option>
        </mat-select>
        
      </mat-form-field>

       <mat-form-field>
        <mat-label>Client Id</mat-label>
        <mat-select formControlName="client_id">
          <mat-option>a</mat-option>
        </mat-select>
       
      </mat-form-field>

       <mat-form-field>
        <mat-label>Manager Id</mat-label>
        <mat-select formControlName="manager_id">
          <mat-option>a</mat-option>
        </mat-select>
       
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Project Status</mat-label>
        <mat-select formControlName="projectStatus">
          <mat-option *ngFor="let projStatus of projectStatus" [value]="projStatus.projectStatus">{{projStatus.projectStatus}}</mat-option>
            <mat-option *ngIf="projectStatus.length === 0" disabled>
              No record found
            </mat-option>
        </mat-select>
         <mat-error *ngIf="projectForm.get('projectStatus')?.hasError('required')">
          projectStatus is required
        </mat-error>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="start_date">
        <mat-datepicker #datepicker />
        <mat-datepicker-toggle [for]="datepicker" matSuffix />
      </mat-form-field>

       <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="datepickers" formControlName="end_date">
      <mat-datepicker #datepickers />
      <mat-datepicker-toggle [for]="datepickers" matSuffix />
    </mat-form-field>
    </div>
    
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" class="input" matInput placeholder="description..." value=""></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="allow_for_off_time">Allow For Off Time</mat-checkbox>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button [disabled]="projectForm.disabled" (click)="onSubmit()" matButton="filled" cdkFocusInitial>
     @if(!projectForm.disabled) {
      <span>Add</span>
      }
      @if (projectForm.disabled) {
      <span>Add</span>
      }
    </button>
  </mat-dialog-actions>
</form>