mat-dialog-actions {
  margin-top: 15px;
}

table {
  width: 100%;
}

.color-btn {
  color: #3f51b5;
}

.color-btn:hover {
  background-color: lightblue !important;
  color: black !important;
}

.btn {
  color: white;
  background: #3f51b5;
}