
table {
  
  width: 100%;
}

.input {
  margin-top: 10px;
   width: 100%;
   max-width: 300px;
   height: 100%;
}



.d-flexs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mar-btn {
  margin-top: 10px;
}