<mat-drawer-container class="example-container full-size-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="isDrawerOpen" (openedChange)="isDrawerOpen = $event">
    <div class="drawer-menu full-height">
      <div class="drawer-header">
          
      </div>

      <div class="drawer-content">
        <button   routerLink="/dashboard" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" mat-button class="drawer-item">
          <mat-icon>home</mat-icon>
          <span *ngIf="isDrawerOpen">Dashboard</span>
        </button>
        <button   
          routerLink="/employee" 
          routerLinkActive="active"
           mat-button class="drawer-item">
          <mat-icon>person</mat-icon>
          <span *ngIf="isDrawerOpen">Employee</span>
        </button>
        <button  routerLink="/task" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Task</span>
        </button>
         <button routerLink="/project" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Project</span>
        </button>
         <button routerLink="/client" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Client</span>
        </button>

          <button mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Engagement Report</span>
        </button>

        <button  routerLink="/employee-allocation" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Employee Allocation</span>
        </button>

        <button routerLink="/employee-assignment" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Employee Assignment</span>
        </button>

        <button routerLink="/task-assignment" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Task Assignment</span>
        </button>

        <button mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Role</span>
        </button>

        <button routerLink="/user-logs" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">Logs</span>
        </button>

        <button routerLink="/end-point" 
          routerLinkActive="active" mat-button class="drawer-item">
          <mat-icon>settings</mat-icon>
          <span *ngIf="isDrawerOpen">End Points</span>
        </button>
      </div>

      <div class="drawer-footer">
     
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content full-height">
    <header class="main-header">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Application Header</h2>
           
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="drawerMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        
        <mat-menu #drawerMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
          <app-logout></app-logout>
        </mat-menu>
    </header>

    
    <main class="main-content">
     <h2>Employee Assignment</h2>
     <app-emp-assign-list></app-emp-assign-list>
    </main>

    <app-footer></app-footer>
  </div>
</mat-drawer-container>