example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
 
}

.btn {
  background: #3f51b5;
  color: white;
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px; /* space between fields */
}

mat-form-field {
   margin: 0 !important; /* remove default margin */
  padding-bottom: 0 !important; /* remove bottom padding */
  width: 100%;
  max-width: 500px !important;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  margin: -12px -12px -12px auto;
}


@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
