
table {
  
  width: 100%;
}

.input {
  margin-top: 10px;
   width: 100%;
   max-width: 300px;
   height: 100%;
}

.columns {
  background-color: white;
}

.paginators {
  background-color: white;
}

.example-small-box {
  height: 400px;
  overflow: auto;
}

.d-flexs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn {
  background: #3f51b5;
  color: white;
}

.pending-chip {
  background-color: lightyellow !important; 
  color: white !important;
}

.reject-chip {
  background-color: lightcoral !important; 
  color: white !important;
}

.completed-chip {
  background-color: lightgreen !important; 
  color: white !important;
}

.mar-btn {
  margin-top: 10px;
  background: #3f51b5;
  margin-left: 10px;
}

.color-btn {
   background: #3f51b5;
}

.custom-header {
  color: white;
  background: #3f51b5;
}
