<mat-tab-group class="mat-tab-group mat-ink-bar" dynamicHeight>
  <mat-tab label="Active Project">
       <app-active-project-list></app-active-project-list>
  </mat-tab>
  <mat-tab label="In Active Project">
        <app-inactive-project-list></app-inactive-project-list>
  </mat-tab>

   <mat-tab label="Pending Project">
      <app-pending-project-list></app-pending-project-list>
  </mat-tab>

   <mat-tab label="Completed Project">
      <app-completed-project-list></app-completed-project-list>
  </mat-tab>

   <mat-tab label="Rejected Project">
      <app-reject-project-list></app-reject-project-list>
  </mat-tab>
</mat-tab-group>
